<mat-toolbar class="normal-toolbar" *ngIf="!superMode">
  <a routerLink="home1155" (click)="switcheroo()">⚡SUPER 1155⚡</a>
  <a routerLink="home">Home</a>
  <a routerLink="login">Login</a>
  <a routerLink="profile">Profile</a>
  <a routerLink="marketplace">Market</a>
  <a routerLink="admin">Admin</a>
</mat-toolbar>

<mat-toolbar class="super-toolbar" *ngIf="superMode">
  <a routerLink="home" (click)="switcheroo()">🦴Return to sanity🦴</a>
  <a routerLink="home1155">Home</a>
  <a routerLink="login1155">Login</a>
  <a routerLink="marketplace1155">Marketplace 1155</a>
  <a routerLink="uri">URI</a>
  <a routerLink="admin1155">Admin</a>
</mat-toolbar>


<router-outlet></router-outlet>